turbo-frame.table-cell-body style="cursor: pointer" id="ds_#{@ds.id}_task_#{@task.id}" data-task=@task.id data-ds=@ds.id data-action="click->peoplemodal#open_modal" == (@ds.get_task_assignments_to_html @task)