# Ignore the photos of people, temporary directory and the templates
app/public/photos/*
tmp/
app/engines-templates/excel/*
app/engines-templates/typst/*

app/old_code/
schema_db
.DS_Store

*.pdf
*.typ
