.row.flex-center.flex-columns
				
  - if (object && (!(object.respond_to? :can_be_deleted?) || object&.can_be_deleted?))
    a.button.button-secondary[
      data-keys-target="deleteButton" 
      tabindex="-1" 
      data-form-target="deleteButton"
      data-action="click->form#open_modal"
      title="ctrl+d"
      ] delete  
  
  button.button-primary[
    data-turbo-action="advance"
    type="submit"
    tabindex="-1" 
    name="commit" 
    value=(submit_value ? submit_value : "save")
    data-form-target="submitButton"
    data-action="form-validator#validate"
    data-form-validator-target="submitButton"
    title="ctrl+enter"
    ] save
    
  
  a.button.button-secondary[
    data-turbo-action="advance"
    formnovalidate="true" 
    tabindex="-1" 
    data-form-target="cancelButton" 
    href="/#{table_name}"
    title="esc"
    ] cancel