turbo-stream action="update" target="person_#{@person.id}
	template
		- puts "rendering response"
		p id="person_#{@person.id}" style="padding: 1em; background-color: lightyellow; text-align: center;" pepe
