/----------------------------------------------------------------------------------------------------------------
/ FORM for an Entity
/----------------------------------------------------------------------------------------------------------------

turbo-frame id="main_frame"
  
	- model_name = "entity"
	- table_name = "entities"

	/ Center the form in the screen and ajust its size.
	.container.screen-box.tiny-form data-controller="form" 
		
		form[
			action="/#{model_name}/#{(@object.nil? ? "new" : @object.id)}"
			method="POST"
			data-controller="form-validator"
			data-form-target="form"
			data-action="keydown.ctrl+d@window->form#delete \
				keydown.ctrl+enter@window->form#enter \
				keydown.esc@window->form#escape"]

			/----------------------------------------------------------------------------------------------------------------
			/ FORM HEADER
			/----------------------------------------------------------------------------------------------------------------
			
			.row.u-text-center
				h3 = (@object.nil? ? "NEW #{model_name.upcase}" : "#{model_name.upcase}: #{@object.name}")
				
			/----------------------------------------------------------------------------------------------------------------
			/ FORM FIELDS
			/----------------------------------------------------------------------------------------------------------------
			
			fieldset data-form-target="fieldset"
			
				.row
					
					label for="name" name
					&text#name.u-full-width[
						autocomplete="false" 
						data-form-target="firstField" 
						required 
						autofocus
						value=@object&.name]
				
					label for="sigla" sigla
					&text@sigla.u-full-width[
						required
						data-action="input->form-validator#validate" 
						value=@object&.sigla]

					label for="path" path
					&text@path.u-full-width value=@object&.path

			/----------------------------------------------------------------------------------------------------------------
			/ ERROR FRAME
			/----------------------------------------------------------------------------------------------------------------		
			
			.row
				.hidden-alert.alert.alert-warning.u-full-width data-form-validator-target="errorFrame"

			/----------------------------------------------------------------------------------------------------------------
			/ BUTTONS
			/---------------------------------------------------------------------------------------------------------------

			== partial :"elements/form_buttons", locals: {object: @object, table_name: table_name}
				
			/----------------------------------------------------------------------------------------------------------------
			/ DELETE CONFIRMATION MODAL FORM
			/---------------------------------------------------------------------------------------------------------------
			
			== partial :"elements/delete_modal", locals: {model_name: model_name}
