/----------------------------------------------------------------------------------------------------------------
/ FORM for an Entity
/----------------------------------------------------------------------------------------------------------------

turbo-frame id="main_frame"
  
	- model_name = "permit"
	- table_name = "permits"
	- puts locals
	- puts "got origin #{locals[:origin]}"
	- back_url = (origin.nil? ? "" : "?origin=#{origin}")


	/ Center the form in the screen and ajust its size.
	.container.screen-box.x-large-form data-controller="form" 
		
		form[
			action="/#{model_name}/#{(@permit.nil? ? "new" : @permit.id)}#{back_url}"
			method="POST"
			autocomplete="one-time-code"
			data-controller="form-validator"
			data-form-target="form"
			data-action="keydown.ctrl+d@window->form#delete \
				keydown.esc@window->form#escape \
				keydown.ctrl+enter@window->form#enter"]

			/----------------------------------------------------------------------------------------------------------------
			/ FORM HEADER
			/----------------------------------------------------------------------------------------------------------------
			
			.row.u-text-center
				h3 = "QUESTURA: #{@person.short_name}"
				
			/----------------------------------------------------------------------------------------------------------------
			/ FORM FIELDS
			/----------------------------------------------------------------------------------------------------------------
			//Data frontiera	Scadenza	RITIRATO	Codice Fiscale	Scadenza TEAM	data iscrizione SSN	scadenza iscrizione SSN	residente a	data lettera capo convivenza	data iscrizione convivenza	Data_attestato_reg_sogg	Data_attestato_sogg_permanente	Data_cancellazione_anagrafe	Num_carta_identita	Data_scad_carta_identita	data partenza prevista	osservazioni/ritorno	avvisato ritiro	data ispettorato	appuntamento impronte	consegna a interessato	osservazioni anagrafe	osservazioni passaporto	osservazioni PdS	osservazioni SSN	data primo permesso	UE

			fieldset data-form-target="fieldset"
				
				.row
						
					&hidden@person_id value=@person.id

					.columns.four.offset-by-one
						label for="citizenship" citadinanza
						&text@citizenship.u-full-width[
							tabindex=1 
							readonly 
							onfocus="this.removeAttribute('readonly');" 
							autocomplete="one-time-code"
							value=@permit&.citizenship]

					.columns.two
						label for="passport" passaporto
						&text@passport.u-full-width[
							readonly 
							onfocus="this.removeAttribute('readonly');" 
							autocomplete="one-time-code"
							value=@permit&.passport]
				
					.columns.two.two
						label for="passport_expiration" scadenza passaporto
						&date@passport_expiration.u-full-width value=@permit&.passport_expiration

					.columns.two
						label for="permit_expiration" scandenza permesso
						&date@permit_expiration.u-full-width value=@permit&.permit_expiration

				.row

					.columns.two.offset-by-one
						label for="pac" PaC (fatta)
						&date@pac.u-full-width value=@permit&.pac
				
					.columns.two
						label for="pac_signature" PaC (firmata)
						&date@pac_signature.u-full-width value=@permit&.pac_signature

					.columns.two
						label for="pac_validation" PaC (vidimata)
						&date@pac_validation.u-full-width value=@permit&.pac_validation
				

					.columns.two
						label for="pusc_certificate_request" certificato PUSC (richiesto)
						&date@pusc_certificate_request.u-full-width value=@permit&.pusc_certificate_requested

					.columns.two
						label for="pusc_certificate_received" certificato PUSC (ritirato)
						&date@pusc_certificate_received.u-full-width value=@permit&.pusc_certificate_received

				.row
					.columns.two.offset-by-one
						label for="permit_appointment" appuntamento ispettorato
						&date@permit_appointment.u-full-width value=@permit&.permit_appointment

					.columns.two
						label for="residence_notes" appuntamento impronte
						&date@permit_fingerprints.u-full-width value=@permit&.permit_fingerprints
					
					.columns.six
						label for="notes" osservazioni
						&text@notes.u-full-width value=@permit&.notes

				

			/----------------------------------------------------------------------------------------------------------------
			/ ERROR FRAME
			/----------------------------------------------------------------------------------------------------------------		
			
			.row
				.hidden-alert.alert.alert-warning.u-full-width data-form-validator-target="errorFrame"

			/----------------------------------------------------------------------------------------------------------------
			// FORM BUTTONS
			//----------------------------------------------------------------------------------------------------------------
			.row.flex-center.flex-columns
				- if (@permit && (!(@permit.respond_to? :can_be_deleted?) || @permit&.can_be_deleted?))
					a.button.button-secondary[
						data-keys-target="deleteButton" 
						tabindex="-1" 
						data-form-target="deleteButton"
						data-action="click->form#open_modal"
						title="ctrl+d"
						] delete  
				
				button.button-primary[
					type="submit"
					tabindex="-1" 
					name="commit" 
					value="save"
					data-form-target="submitButton"
					data-form-validator-target="submitButton"
					title="ctrl+enter"
					] save
					
				
				button.button-secondary[
					formnovalidate="true" 
					tabindex="-1" 
					name="commit" 
					value="cancel"
					data-form-target="cancelButton" 
					href="/#{table_name}"
					title="esc"
					] cancel

			/----------------------------------------------------------------------------------------------------------------
			/ DELETE CONFIRMATION MODAL FORM
			/---------------------------------------------------------------------------------------------------------------
			
			== partial :"elements/delete_modal", locals: {model_name: model_name}
