/* --------------------------------------------------------------------------- */
/* NAVIGATION BAR																															 */
/* --------------------------------------------------------------------------- */
:root {
	--dark-gray: #333333;
	--medium-gray: rgb(85, 85, 85);
	--light-blue: #62cbf4;
}

.nav-bar {
	width:100%;
	display: flex;
	margin: 0px;
	background-color: var(--dark-gray);
}

.nav-bar-secondary {
	background-color: var(--medium-gray);
}

a.menu-item 
{
	color: rgb(213, 213, 213);
	margin: 0px;
	background-color: var(--dark-gray);
	border-width: 0px;
	border-radius: 0px;
	border-bottom-width: 4px;
	border-color: var(--dark-gray);
}

.menu-item-secondary
{
	color: rgb(213, 213, 213);
	margin: 0px;
	background-color: var(--medium-gray);
	border-width: 0px;
	border-radius: 0px;
	border-bottom-width: 4px;
	border-color: var(--medium-gray);
}


a.menu-item.user-name {
	color: var(--light-blue);
	text-decoration: none
}

a.menu-item:hover {
	color: var(--light-blue);
	border-color: var(--light-blue);
	text-decoration: none
}

a.menu-item:focus {
	color: rgb(213, 213, 213);
	border-color: var(--dark-gray);
}

a.menu-item-secondary:hover {
	color: var(--light-blue);
	border-color: var(--light-blue);
	text-decoration: none
}

a.menu-item-secondary:focus {
	color: rgb(213, 213, 213);
	border-color: var(--medium-gray);
}


a.menu-item.user-name:hover {
	border-color:var(--dark-gray)
}

.hidden-frame {
  display:none;
}