/***********************************************************************************************
NAV BAR
/***********************************************************************************************/

  
.nav-bar {
    margin: 0px;
    background-color: #333333;
    width:100%;
    display: flex;
}

.nav-bar .menu-item{
    color: rgb(213, 213, 213);
    margin: 0px;
    background-color: #333333;
    border-width: 0px;
    border-radius: 0px;
    border-bottom-width: 4px;
    border-color: #333333;
}

.nav-bar-hidden {
    margin: 0px;
    background-color: #4d4d4d;
    width:100%;
}

.nav-bar-hidden .menu-item{
    color: rgb(213, 213, 213);
    margin: 0px;
    background-color: #4d4d4d;
    border-width: 0px;
    border-radius: 0px;
    border-bottom-width: 4px;
    border-color:#4d4d4d;
}

a.menu-item.user-name {
    color: rgb(46, 182, 236);
    text-decoration: none
}

a.menu-item:hover {
  color: rgb(46, 182, 236);
  border-color: rgb(46, 182, 236);
  text-decoration: none
}

a.menu-item.user-name:hover {
    border-color: #333333;
}