:root {
  --light-gray: rgb(192, 192, 192);
  --light-orange: rgb(255, 235, 213);
  --light-gray: rgb(224, 224, 224);
  --light-blue: rgb(98, 203, 244);
  --pale-blue: rgb(234, 246, 250);
  --dark-gray: rgb(64, 64, 64);
  --medium-gray: rgb(85, 85, 85);
}

html, body{
  font-family: "Open Sans", "HelveticaNeue";
  font-weight: 400;
  font-size: 1rem;
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}	

/**********************************************************************
* LOGIN
**********************************************************************/

.login-screen
{
  height:100%; 
  background: transparent url(/img/cb_jardin.jpeg) no-repeat;
  object-fit: cover;
  resize: both;
  background-size: 100% 100%;
  /*
  background-position: center;
  */
  opacity: 1;
  position: relative;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 400px;
  min-height: 300px;
  background-color:white; 
  opacity: 1; 
  padding: 30px 60px; 
  
  box-shadow: rgba(157, 157, 157, 0.35) 0px 5px 15px;
  border: 1px solid;
  border-color: var(--light-gray);
  border-radius:10px
}

login-field
{
  width: 260px;
}

.container-frame
{
  margin-top: 0px;
  padding: 20px
}

.header-row
{
  text-align: center;
}

.button-medium
{
 min-width: 120px;
}
.
/**********************************************************************
* FORMS
**********************************************************************/
.no-margin
{
  margin: 0px;
}
.full-screen-form
{
  width:1200px;
}

.form-header
{
  height:auto;
  margin-bottom:10px
}

.form-frame
{
  height:auto;
  margin-top:10px
}

.screen-container
{
  position: relative;
}
.gray-label
{
  padding-bottom:6px; 
  color:#555; 
  font-weight: 600; 
  font-size: 1rem;
  text-align: left;
}

.screen-box {
  margin-top: 100px;
  min-width: 400px;
  min-height: 300px;
  background-color:white; 
  opacity: 1; 
  padding: 30px 60px; 
}
.vertical-align
{
  display:flex; 
  align-items:center; 
  vertical-align:middle;
}

.vertical-align-bottom
{
  display:flex;
  align-items:center; 
  vertical-align:bottom;
}

.center-align
{
  display:flex;
  gap: 10px;
  align-items: center;
  justify-content: center; 
}

.person-photo
{
  cursor: pointer; 
  border-radius: 5%; 
  object-fit: cover;
}

/**********************************************************************
* ALERTS
**********************************************************************/

.alert
{
  border-color: var(--light-gray)
}

.alert-error
{
  background-color: var(--light-orange)
}


/**********************************************************************
* ALERTS
**********************************************************************/


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.active-frame
{
  display: contents;
}

.idle-frame
{
  display: none;
}



.row
{
  font-weight: 600;
  font-size: .85rem;  
}


.table-container
{
  display: flex;
  justify-content: center;
  max-height: 500px;
  width: inherit;
  overflow-y: auto;
  width: 100%;
}

.table-table
{
  display: table;
}

.table-border
{
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.table-row-head
{
  position: sticky;
  color: var(--dark-grey);
  font-variant: small-caps;
  font-weight: 600;
  border-bottom: 1px solid var(--dark-gray);
  font-size: 1.4em;
  display: table-row;  
  position: realtive;
  background-color: white;
  top: 0px;
  z-index: 2;
}

.table-row-body
{
  position:sticky;
  color: var(--dark-grey);
  border-bottom: 1px solid var(--dark-gray);
  font-size: 1em;
  display: table-row;
  margin: 3px;
  z-index: 1;
  text-decoration: none;
}

a.table-row-body
{
    cursor:pointer;
}

.small-button
{
  margin-right: .7rem; 
  padding-left: 1rem; 
  padding-right: 1rem
}

.menu-frame
{
  display: none; 
  justify-content: space-evenly;
}

.no-border
{
  border: none;
  border-bottom: 0px
}
.table-row-body:hover
{
  background-color: var(--pale-blue);
  color: initial;
}


.table-cell-head
{
  text-overflow: ellipsis;
  display: table-cell;
  padding-bottom: .1rem;
  padding-top: .1rem;
  padding-right: .5rem;
  padding-left: .5rem;
  border-bottom: 1px solid var(--dark-gray);
}
.table-cell-body
{
  font-weight: 400;
  text-overflow: ellipsis;
  display: table-cell;
  padding-top: .1rem;
  padding-bottom: .1rem;
  padding-right: .5rem;
  padding-left: .5rem;
  border-bottom: 1px solid var(--light-gray);
}
.xlong-field
{
  width: 600px;
}

.long-field
{
  width: 280px;
}

.medium-field
{
  width: 140px;
}

.short-field
{
  width: 60px;
}


.row-label.clickable
{
  cursor: pointer;
}


.row-label.clickable:hover
{
  color: var(--light-blue);
}


.row-field
{
  margin:0;
  padding: 0;
  display: table-cell;
  padding: 10px;
}

div.row.scrollable {
  max-height: 70%;
  margin:0px;
  padding-left:0px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  border-bottom: 1px solid  grey;
  overflow-y: scroll;
  }

th.row-head
{
  margin:0;
  padding: 5;
  font-size: 1.2rem
}

tr.row-field
{
  margin:5;
  padding: 0px;
  font-size: 0.9rem
}
tr.row-field:hover
{
  margin-top: 3px;
  pointer-events: none;
  background-color: var(--pale-blue);;
}


td.row-field
{
  margin:0;
  padding: 0;
  font-size: 0.9rem
}


div.row.scrollable {
  max-height: 70%;
  margin:0px;
  padding-left:0px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  border-bottom: 1px solid  grey;
  }

  div.row.scrollable::-webkit-scrollbar {
    display: none;
  }

p
{
  color: #000000;
  margin: 0px;
  padding: .2em;
}

div.row-link {
  color: #000000;
  margin: 0px;
  padding: .2em;
  border-bottom: 1px solid rgb(224, 224, 224);
  font-size: .95rem;
  font-weight: 400;
}

a.row-link {
  font-family: "Open Sans", "HelveticaNeue";
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  color: #302e2e;
  margin: 0px;
  padding: .2em;
}

a.td-link:hover {
  text-decoration: none;
}

a.td-link {
  font-family: "Open Sans", "HelveticaNeue";
  font-weight: 400;
  font-size: .9rem;
  text-decoration: none;
  color: #302e2e;
  margin: 0px;
  padding: 0em;
}

a.row-link:hover {
  text-decoration: underline;
}

.row-selected {
  background-color: var(--pale-blue);
}

  
div.row-link:hover{
background-color: #d6f0ff;
}

.row-button{
  letter-spacing: 0em;
  padding: 0 1rem;
  margin: 0px;
}

.link-button
{
  font-size: .9rem;
  font-weight: bolder;
  text-align: left;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0px;
  border-radius:0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  transition: .1s;
  
}

p
{
  font-size: 1rem;
}

h3
{
  font-weight:600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4
{
  color: var(--dark-gray);
  font-weight:600;
  line-height: normal;
  margin-bottom: 0;
}

h5
{
  color: var(--medium-gray);
  font-weight:600;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 15px;
}


h6
{
  margin-top: 0rem;
  margin-bottom: .5rem;
  font-weight: 600;
}

form {
  margin:0px;
}

.tab-button
{
  padding-left:5px;
  padding-right:5px;
}
.link-button:hover
{
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-radius:0px;
  color: var(--light-blue);
  border-color: var(--light-blue);
}

/***********************************************************************************************
ALERTS
/***********************************************************************************************/

.alert
{

  margin-bottom: 20px;
  font-weight: 100;
  padding: 10px;
  border-width: 1px;
  border-color: #dbdbdb;
  border-radius: 5px;
  border-style: solid;
  line-height: 1.2em;
}

.alert.alert-warning
{
/*transition: visibility 1s, opacity 0.5s linear;*
  /*transition: visibility 1s, opacity 0.5s linear;*/
  background:#fff0d6;
  border-color: #929292;

}

.hidden-frame {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
}

.alert.alert-notice
{
background:#e9f7fe;
}

.alert.alert-error
{
  background:#e66666;
  padding: 10px;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #3333;
}


input.hidden-input{
  display: none;
}

a.button.active
{
  background: var(--light-blue);
  color: white;
}

.closeIcon {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  list-style: none;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.menu-link {
  border:0px;
  text-decoration: none;
  color: #302e2e;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .boxrow {
  border: 1px dotted grey;
}

.box .box-header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .box-content {
  flex: 1 1 auto;
}

.box .box-footer {
  flex: 0 1 40px;
}