/**************************************************************************** 
    COLOUR DEFINITIONS
*****************************************************************************/

:root {
  --light-gray: rgb(192, 192, 192);
  --light-snow: rgb(245, 245, 245);
  --light-orange: rgb(255, 235, 213);
  --light-gray: rgb(224, 224, 224);
  --light-blue: #62cbf4;
  --pale-blue: #e3f6ff;
  --dark-gray: rgb(64, 64, 64);
  --medium-gray: rgb(85, 85, 85);
  --medium-orange: #f9d66e;
  --light-orange: #ffe6c6;
  --light-green: #c3f8be;
}

html, body {
  /*font-family: 'Helvetica', 'Rubik', sans-serif;*/
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 13pt;
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.4rem
}

form {
  margin:0px;
}


h4.matrix-settings-header
{
  width:50em;
  text-align: left;
}

h4.matrix-settings-header:hover
{
  color: var(--light-blue);
}

/**********************************************************************
* CONTAINERS
**********************************************************************/

/**********************************************************************
* Top container of the screens. Used for the whole screen.
**********************************************************************/
.container-frame {
  margin-top: 0px;
  padding: 20px
}

@media all and (max-width: 1500px) {
  .container-frame {
    padding: 0px;  
  }
}
.header-row {
  margin-top: 20px;
}

.flex-columns{
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.flex-rows{
  display: flex;
  flex-direction: column;
}

  
.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex; 
  text-align: center;
  justify-content: center; 
  align-items: center;
}

.flex-left {
  display: flex; 
  text-align: left;
  justify-content: left; 
  align-items: center;
}

.flex-right {
  display: flex; 
  text-align: right;
  justify-content: right; 
  align-items: right;
}

.flex-top
{
  display:flex;
  justify-content: center; 
  vertical-align:top;
}


.flex-bottom
{
  display:flex;
  align-items:center; 
  vertical-align:bottom;
}

.row {
  font-size: .85rem;  
}

@media all and (max-width: 1500px) {
  .row {
    font-size: .75rem;  
  }
}

/* Escudo de Cavabianca */
.cb-icon {
  margin-right: 1rem; 
  height: 2.8rem
}

.person-photo {
  cursor: pointer; 
  border-radius: 5%; 
  object-fit: cover;
}

.person-photo.small {
  width: 140px;
}

.person-photo.medium {
  width: 200px;
}

div.search-filters
{
  background-color: var(--light-snow);
  border-radius: 5px;
  border-color: var(--light-gray);
  border-style: solid;
  border-width: 1px;
  margin: 1rem 0rem 2rem 0rem;
  padding-top: 1.4rem
}

@media all and (max-width: 1500px) {
  div.search-filters {
    padding-top: .8rem;
  }
}
/**********************************************************************
* LOGIN SCREEN
**********************************************************************/

.login-screen {
  height:100%; 
  background: url(/img/cb_jardin.jpeg) no-repeat;
  object-fit: cover;
  opacity: 1;
  position: relative;
  background-repeat: no-repeat;
  background-position: center; /* Visible 30 px from the top */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  max-width: 400px;
  background-color:white; 
  opacity: 1; 
  padding: 30px 60px; 
  border: 1px solid;
  border-color: var(--light-gray);
  border-radius:10px;
  text-align: center
}

img.login-box
{
  width: 50px;
}

/**********************************************************************
* FILES BOX
**********************************************************************/

.files-box
{
  background-color:#fbfbfb; 
  opacity: 1; 
  padding: 30px 60px; 
  /*box-shadow: rgba(157, 157, 157, 0.35) 0px 5px 15px;*/
  border: 1px solid;
  border-color: var(--light-gray);
  border-radius:10px;
  margin: .1rem;
}

div.files-box a {
  text-decoration: none;
  font-weight: 400;
}

div.files-box h4 {
  font-size: 1.4rem;
  margin-top: 1rem
}

a.h4 {
  margin-left: .5rem;
  font-family: 'Bebas Neue';
  letter-spacing: .1rem;
  font-weight:400;
  line-height: normal;
  font-size: 1.2rem; 
 }

 
 div.ref-box { 
  text-align: center;
  border-radius: 5px;
  height: 100%;
 }

 div.ref-box a:hover{ 
  text-decoration: underline dotted;
 }

 div.active-ref-box { 
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding-bottom: 1rem;
 }
 div.ref-box a.mail-link{
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  color: #1e1e1e;
 }

 
@media all and (max-width: 1500px) {
  div.ref-box a.mail-link {
   font-size: .8rem;
   }
 }

div.turno
{
  margin: 6pt;
  user-select: none;
}

div.room
{
  cursor: move;
  border: #ffffff;
  border-style: solid;
  border-width: 1px;
  padding: 1px;
  padding-left: 5px;
  border-radius: 4px;
}

div.room:hover
{
  background-color: var(--pale-blue);
  cursor: move;
  border: #888;
  border-width: 1px;
  border-style: dotted;
}


 div.ref-box a.mail-link:hover{
  text-decoration: underline;
 }

a.button.no-border
{
  border: 0;
}

/**********************************************************************
* BUTTONS
**********************************************************************/

.button-medium {
 min-width: 120px;
 max-width: 140px;
}

.button-small {
  margin-right: .7rem; 
  padding-left: 1rem; 
  padding-right: 1rem
}

.button-square {
  background-color: var(--dark-gray);
  width:3rem; 
}

.button-square-no-color {
  width:3rem; 
}

@media all and (max-width: 1500px) {
  button {
    font-size: .65rem;
  }
}

@media all and (max-width: 1500px) {
  .button {
    font-size: .65rem;
  }
}

/**********************************************************************
* FORMS
**********************************************************************/

.full-screen-form {
  width:1200px;
}

.small-form {
  max-width: 600px
}

.medium-form {
  max-width: 800px
}

.large-form {
  max-width: 1000px
}

.x-large-form {
  max-width: 1200px
}

.screen-box {
  margin-top: 50px;
  min-width: 400px;
  height: 80vh;
  min-height: 300px;
  background-color:white; 
  opacity: 1; 
  padding: 30px 60px; 
}

.gray-label {
  padding-bottom:6px; 
  color: var(--medium-gray);
  font-weight: 600; 
  font-size: 1rem;
  text-align: left;
}

/*************************************************************************************
 TOOLTIPS
 **************************************************************************************/
 
 .tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*************************************************************************************
 TABLES
 **************************************************************************************/

 .table-container {
  display: flex;
  justify-content: center;
  max-height: 60vh;
  width: inherit;
  overflow-y: auto;
  width: 100%;
}

@media all and (max-width: 1500px) {
  .table-container {
    max-height: 55vh;;
  }
}

.table-table {
  display: table;
  table-layout: fixed;
}

.table-border {
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.table-row-head {
  position: sticky;
  color: var(--dark-gray);
  font-variant: small-caps;
  font-weight: 600;
  border-bottom: 1px solid var(--dark-gray);
  font-size: 1.2rem;
  display: table-row;  
  position: realtive;
  background-color: white;
  top: 0px;
  z-index: 2;
}

@media all and (max-width: 1500px) {
  .table-row-head {
    font-size: 1rem;
  }
}

.table-row-body {
  position:sticky;
  color: var(--dark-gray);
  border-bottom: 1px solid var(--dark-gray);
  display: table-row;
  margin: 3px;
  z-index: 1;
  text-decoration: none;
}

.table-row-body:hover {
  background-color: var(--pale-blue);
  color: initial;
}

/* Any div that is a child of a div with a table-row-head class. It is the same
definition as table-cell-head*/
.table-row-head div
{
  text-overflow: ellipsis;
  display: table-cell;
  padding: .1rem .5rem 1px .5rem;
  border-bottom: 1px solid var(--dark-gray);
  font-weight: 600;
}

.table-cell-head {
  text-overflow: ellipsis;
  display: table-cell;
  padding: .1rem .5rem 1px .5rem;
  border-bottom: 1px solid var(--dark-gray);
  font-weight: 600;
}

.cell-header {
  font-size: 1rem;
}

/* Any div that is a child of a div with a table-row-body class. It is the same
definition as table-cell-body*/
.table-row-body div{
  max-height: 1rem;
  text-overflow: ellipsis;
  display: table-cell;
  padding: .2rem .5rem .1rem .5rem;
  border-bottom: 1px solid var(--light-gray);
}

.table-cell-body {
  max-height: 1rem;
  text-overflow: ellipsis;
  display: table-cell;
  padding: .2rem .5rem .1rem .5rem;
  border-bottom: 1px solid var(--light-gray);
}


a.table-row-body{
  cursor:pointer;
}


a.table-cell-body-selected {
  max-height: 1rem;
  font-size: .6rem;
  text-overflow: ellipsis;
  padding: .2rem .5rem .1rem .5rem;
  background-color: var(--light-blue);
}

.unread {
  font-weight: 800;
  /*background-color: var(--light-orange);*/
}


.matrix-frame-body {
  padding: 0em;
  border-bottom: 1px solid var(--light-gray);
  min-width: 150px;
  display: table-cell;
}


.matrix-cell-body {
  text-overflow: ellipsis;
  padding: .5em 1em .5em 1em;
  min-width: 150px;
  height: 100%;
}


.matrix-row-body {
  position:sticky;
  color: var(--dark-gray);
  border-bottom: 1px solid var(--dark-gray);
  display: table-row;
  margin: 3px;
  z-index: 1;
  text-decoration: none;
}

.matrix-row-body:hover {
  color: initial;
}

.matrix-empty-cell
{
  background-color: #e6e6e6;
}

.matrix-cell-ok
{
  background-color: #ffffff;
}
.matrix-cell-missing
{
  background-color: #e7e7e7;
}
.matrix-cell-over
{
  background-color: #fcd194;
}

a.matrix-cell
{
  font-size: .9rem;
  cursor:pointer;
  text-align: left;
  color: #1e1e1e;
  text-decoration: none;
  padding-left: 10pt;
}

.matrix-cell-body:hover
{
  background-color: var(--pale-blue);
  
}
a.matrix-cell:hover
{
  font-size: .9rem;
  cursor:pointer;
  text-decoration: underline;
  
}

a.matrix-cell-selected:hover
{
  font-size: .9rem;
  cursor:pointer;
  text-decoration: underline;
}

a.matrix-cell-selected
{
  padding-left: 10pt;
  text-decoration: none;
  text-align: left;
  font-size: .9rem;
  cursor:pointer;
  color: var(--light-blue)
}

/*************************************************************************************
 MENUS
 **************************************************************************************/

.menu-frame {
  display: none; 
  justify-content: space-evenly;
}

.xxlong-field {
  width: 800px;
}

.xlong-field {
  width: 600px;
}

.long-field {
  width: 280px;
}

.medium-field {
  width: 140px;
}


.short-field {
  width: 60px;
}

@media all and (max-width: 1500px) {
  .medium-field {
    width: 120px;
  }
  .long-field {
    width: 180px;
  }
  .xlong-field {
    width: 400px;
  }
  
}

/*************************************************************************************
TEXT
 **************************************************************************************/
p {
  color: #000000;
  margin: 0px;
  padding: .2em;
  font-size: 1rem;
}

h1, h2 {
  color: var(--dark-grey);
  font-family: 'Bebas Neue';
  letter-spacing: .1rem;
  font-weight:400;
  line-height: normal;
}

div.help h1 {
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

turbo-frame.help h2 {
  font-size: 1.6rem;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  color: var(--dark-gray);
}

div.help a{
  font-weight: 600;
  text-decoration: none;
}

div.help ol{
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding-left: 3rem;
  border-left: 2px solid var(--light-gray);
}

div.help li{
  font-size: .85rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

div.help td{
  font-size: .85rem;
  font-weight: 400;
  padding: .5rem;
}

div.nota {
  font-size: 1rem;
  text-align : justify ;
  margin-left: 4rem;
  margin-right: 4rem;
  /*display: inline;*/
}



 
div.nota li p{
  display: inline;
}

div.nota p{
  text-align : left ;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.nota ol{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0rem;
}

div.nota ul{
  margin-left: 2rem;
  margin-bottom: 1rem;
}

div.nota ul ul{
  margin-left: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

div.nota ol li {
  margin-left: 0rem;
  margin-top: 1rem
}


div.nota li{
  margin-bottom: 0rem;
  margin-top: 0rem;
  margin-left: 0rem;
}

div.nota blockquote{
  display: inline;
  margin-bottom: 0rem;
  margin-top: 0rem;
  margin-left: 0rem;
}

div.nota td{
  padding: 0.2rem 1rem
}

div.notas a {
  margin-top:1rem; 
  display:block;
  text-decoration: none;
  font-weight: 600;
}

div.nota-border{
  padding: 3rem;
  border: #555;
  border-style: solid;
  border-radius: 10px;
}

div.schedule-border{
  margin: 1rem !important;
  padding: 1rem;
  border-color: #555;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  min-width: 400px;
  height: 200px;
}

@media all and (max-width: 1500px) {
  div.nota {
    line-height: 1.2rem;
    font-size: .8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    }
  div.nota p {
   line-height: 1.2rem;
   font-size: .8rem;
   }
 }


.mail.entrada
{
  color: #1e1e1e;
}

.mail.salida
{
  color: rgb(0, 85, 146);
}


h3, h4 {
  color: var(--dark-grey);
  font-family: 'Bebas Neue';
  letter-spacing: .1rem;
  font-weight:400;
  line-height: normal;
}

h3 {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 0;
}

h5, h6 {
  color: var(--medium-gray);
  font-weight:400; 
}

h5 {
  font-family: 'Bebas Neue';
  line-height: normal;
}

h6 {
  margin-top: 0rem;
  margin-bottom: .5rem;
  letter-spacing: 0rem;
}

 
h4.help {
 font-weight: 600;
 font-size: 1rem;
 letter-spacing: 0.05rem; 
}


@media all and (max-width: 1500px) {
  h3 {
    font-size: 2rem;
  }
}

.link-button
{
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  border-width: 0;
  padding: 5px;
  margin: 0px;
  transition: .1s;
}

.link-button:hover
{
  border-bottom-width: 2px;
  border-radius: 0px;
  color: var(--light-blue);
  border-color: var(--light-blue);
}

/***********************************************************************************************
ALERTS
/***********************************************************************************************/

.alert
{
  background-color:var(--pale-blue);
  margin-bottom: 20px;
  font-weight: 400;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 1px;
  border-color: #dcdcdc;
  border-radius: 5px;
  border-style: solid;
  line-height: 1.4rem;
  color: var(--medium-gray);
  transition: 2s;
}

.alert.alert-warning {
  background: var(--medium-orange);
  border-color: var(--light-gray)
}

.alert.alert-notice {
  background:#e9f7fe;
}

.alert-error {
  background:#e66666;
  color: white;
  border-color: #3333;
}

a.button.active {
  background: var(--light-blue);
  color: white;
}

/****************************************************************************************************
  MODAL FORMS
******************************************************************************************************/
.menu {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  list-style: none;
  border: none;
}

.menu-link {
  border:0px;
  text-decoration: none;
  color: #302e2e;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .boxrow {
  border: 1px dotted grey;
}

.box .box-header {
  flex: 0 1 auto;
}

.box .box-content {
  flex: 1 1 auto;
}

.box .box-footer {
  flex: 0 1 40px;
}

/* The Modal (background) */
.modal {
  display: none;        /* Hidden by default */
  position: fixed;      /* Stay in place */
  z-index: 3;           /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;          /* Full width */
  height: 100%;         /* Full height */
  overflow: auto;       /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;     /* 15% from the top and centered */
  padding: 80px;
  border: 1px solid #888;
  width: fit-content;   /* Could be more or less, depending on screen size */
  border: 1px solid;
  border-color: var(--light-gray);
  border-radius:10px
}

div.modal p
{
  font-size: .9rem;
}


div.modal-content h4
{
  text-align: center;
  width: 100%;
}

.modal-copy-area
{
  width: 50rem;
  height: 30rem;
}
/*************************************************************************
 UTILITY CLASSES
**************************************************************************/

.vertical-align
{
  display:flex; 
  align-items:center; 
  vertical-align:middle;
}

.vertical-align-bottom
{
  display:flex;
  align-items:center; 
  vertical-align:bottom;
}

.center-align
{
  display:flex;
  gap: 10px;
  align-items: center;
  justify-content: center; 
}


.top-align
{
  display:flex;
  gap: 10px;
  align-items: top;
  justify-content: center; 
}


.no-border
{
  border: none;
  border-bottom: 0px
}


.no-padding
{
  padding: 0;
}

.margin-top {
  margin-top: 20px;
}

.margin-left {
  margin-left: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}


.margin-bottom-small {
  margin-bottom: 6px;
}
.margin-right {
  margin-right: 20px;
}


.no-margin {
  margin: 0px
}

.no-wrap {
  white-space: nowrap;
}

.hidden-frame {
  display:none;
  /*height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear, height 10s ease-out;
  0.15s ease-out*/
}

.active-frame {
  display: contents;
}

.idle-frame {
  display: none;
}

.person-schedule-cell
{
  text-align: center;
  width: 6rem;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  font-size: 1.4rem;
  color: var(--dark-grey);
  font-family: 'Bebas Neue';
  letter-spacing: .1rem;
  font-weight:400;
  margin: 0px;
  border: white;
  border-radius: 6px;
}




select.person-schedule-cell
{
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0px;
  width: 6rem;
  font-size: .8rem;
  text-align: center;
  padding: 0px;
  margin: 0px;
  align-items: center;
  display: table-cell;
  border-color: #c3c3c3;
  border-style: solid;
  border-width: thin;
}